@model VehicleManangement.Models.Address

@{
    ViewData["Title"] = "Create";
}

<h1 class="backArrow"><a href="javascript:history.back()"><i class="bi bi-arrow-left text-white"></i></a>Create</h1>
<div class="AddressSelecter"></div>
<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LinkedParentId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplexNumber" class="control-label"></label>
                <input asp-for="ComplexNumber" class="form-control" />
                <span asp-validation-for="ComplexNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplexName" class="control-label"></label>
                <input asp-for="ComplexName" class="form-control" />
                <span asp-validation-for="ComplexName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryList">
                    <option value="">-- Select Country --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-warning">Back to List</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
