@{
    ViewData["Title"] = "Home Page";
}
<div class="HomeSelecter"></div>

<div id="main-slideshow" class="empty-slider">
	<!-- START HomePage_Slider REVOLUTION SLIDER 6.5.12 -->
	<rs-module-wrap id="rev_slider_6_1_wrapper" data-source="gallery" style="visibility: visible; background: rgb(24, 35, 41); padding: 0px; margin: 0px auto; height: 600px; display: block; width: auto; overflow: visible; transform: translate(0px, 0px); top: 0px;">
		<rs-module id="rev_slider_6_1" style="height: 600px; left: 0px; width: 1905px;" data-version="6.5.12" data-idcheck="true" class="revslider-initialised rev_redraw_on_blurfocus" data-slideactive="rs-23">

			<rs-slides style="visibility: visible; max-height: none; height: 100%; width: 100%; overflow: hidden;">
				<rs-slide style="position: absolute; overflow: hidden; height: 100%; width: 100%; z-index: 20; opacity: 1; visibility: inherit;" data-key="rs-23" data-title="Slide" data-in="o:0;" data-out="a:false;" data-originalindex="1" data-origindex="0" data-description="" data-sba="" data-scroll-based="false" data-owidth="300" data-oheight="200" data-rspausetimeronce="0" data-isactiveslide="true">
					<rs-sbg-px><rs-sbg-wrap data-key="rs-23" data-owidth="300" data-oheight="200"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="//www.rosond.com/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="Slide" title="Home" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.rosond.com/wp-content/plugins/revslider/public/assets/assets/transparent.png" data-bg="c:#E7E7E7;" data-no-retina="">--><rs-sbg data-lazyload="//www.rosond.com/wp-content/plugins/revslider/public/assets/assets/transparent.png" class="" data-bgcolor="#E7E7E7" style="width: 100%; height: 100%;" data-src-rs-ref="//www.rosond.com/wp-content/plugins/revslider/public/assets/assets/transparent.png"><canvas style="width: 100%; height: 100%; background-color: transparent; opacity: 1; filter: none;" width="1905" height="600"></canvas></rs-sbg></rs-sbg-wrap></rs-sbg-px>

					<!--
												-->
					<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; min-height: 100%; min-width: 100%; left: 0px; top: 0px; z-index: 5; visibility: visible; perspective: 601px;">
						<rs-loop-wrap style="position: absolute; display: block; height: 100%; width: 100%;">
							<rs-mask-wrap style="position: absolute; display: block; height: 100%; width: 100%; overflow: visible;">
								<rs-layer id="slider-6-slide-23-layer-8" class="rs-fsv rs-nolc rs-layer-video intrinsic-ignore rs-layer videoisplaying" data-type="video" data-rsp_ch="on" data-xy="x:0;y:0;" data-text="l:22;a:inherit;" data-dim="w:100%;h:100%;" data-basealign="slide" data-video="vfc:true;vd:100;rwd:f;fc:true;l:loop;ptimer:true;nse:f;sav:f;" data-mp4="//www.rosond.com/wp-content/uploads/2018/06/header_final.mp4" data-frame_0="tp:600;" data-frame_1="tp:600;st:0;" data-frame_999="o:0;tp:600;st:w;sR:7700;" style="z-index: 5; color: rgb(255, 255, 255); width: 1905px; height: 600px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; transform: translate(0px, 0px); opacity: 1; visibility: visible;" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
									<div class="html5vid rs_html5vidbasicstyles  fullcoveredvideo"><video style="object-fit: cover; background-size: cover; opacity: 1; width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; display: block;" autoplay class="" loop="" preload="auto"><source src="//www.rosond.com/wp-content/uploads/2018/06/header_final.mp4" type="video/mp4"></video></div><div class="tp-video-play-button"><i class="revicon-right-dir"></i><span class="tp-revstop">&nbsp;</span></div>
								</rs-layer>
							</rs-mask-wrap>
						</rs-loop-wrap>
					</rs-layer-wrap>
					<!--
					-->
				</rs-slide>
			</rs-slides><rs-progress style="visibility: visible; inset: auto auto 0px; width: 100%; margin-top: 0px; background-color: transparent; height: 3px; transform: translate(0px, 0px);"><rs-progress-bar style="background: rgba(255, 255, 255, 0.3); width: 100%; transform: translate(0px, 0px);"></rs-progress-bar></rs-progress>
		</rs-module>

		<script>
			setREVStartSize({c: 'rev_slider_6_1',rl:[1240,1024,778,778],el:[],gw:[1300,1300,600,600],gh:[600,600,600,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider61"]!==undefined) {window.RS_MODULES.modules["revslider61"].once = false;window.revapi6 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
		</script>
	</rs-module-wrap>
	<!-- END REVOLUTION SLIDER -->
</div>

<div id="main" class="sidebar-none sidebar-divider-vertical">


	<div class="main-gradient"></div>
	<div class="wf-wrap">
		<div class="wf-container-main">




			<div id="content" class="content" role="main">

				<div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex ult-vc-hide-row vc_row-has-fill" data-rtl="false" style="position: relative;" data-row-effect-mobile-disable="true">
					<div class="upb_row_bg" data-bg-override="ex-full" style="background: rgb(24, 35, 41); min-width: 1905px; left: -327.5px; width: 1905px;"></div><div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="vc_column-inner vc_custom_1529323966961">
							<div class="wpb_wrapper">
								<div id="ultimate-heading-423683c61db07186" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-423683c61db07186 uvc-8213 accent-border-color" data-hspacer="line_only" data-halign="left" style="text-align:left"><div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-423683c61db07186 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:40px;&quot;,&quot;line-height&quot;:&quot;desktop:46px;&quot;}"><h2 style="--font-weight:theme;color:#ffffff;margin-bottom:15px;">Industry Pioneers</h2></div><div class="uvc-heading-spacer line_only" style="topheight:5px;"><span class="uvc-headings-line" style="border-style: solid;border-color:#d7182a !important ;border-bottom-width: 5px; width: 100px; float: left;"></span>
								<br />	
								</div></div>
								<div class="wpb_text_column wpb_content_element  vc_custom_1537794755045">
									<div class="wpb_wrapper">
										<p>ROSOND provides fast, efficient, safe and cost-effective drilling and grouting services to mining and exploration industries throughout Africa.</p>
										<p>For over 60 years, ROSOND has applied advanced design and engineering disciplines to create client-specific solutions. State-of-the-art, in-house manufacturing facilities provide products designed and engineered to meet clients’ specific demands, while an experienced team of engineers and artisans ensure a solution in keeping with global best practice.</p>

									</div>
								</div>
							</div>
						</div>
					</div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-5 vc_col-sm-offset-2 vc_col-has-fill">
						<div class="vc_column-inner vc_custom_1529323897594">
							<div class="wpb_wrapper">
								<div class="wpb_single_image wpb_content_element vc_align_left">

									<figure class="wpb_wrapper vc_figure">
										<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://www.rosond.com/wp-content/uploads/2018/06/drill-3-650x543.png" width="650" height="543" alt="drill" title="drill" data-dt-location="https://www.rosond.com/home/drill-4/"></div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Row Backgrounds --><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1529236678894 ult-vc-hide-row vc_row-has-fill" style="left: -328px; position: relative; box-sizing: border-box; width: 1905px; padding-left: 328px; padding-right: 327px;" data-rtl="false" data-row-effect-mobile-disable="true">
					<div class="upb_row_bg" data-bg-override="ex-full" style="background: rgb(24, 35, 41); min-width: 1905px; left: 0.5px; width: 1905px;"></div><div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner vc_custom_1490364209546">
							<div class="wpb_wrapper">
								<div class="wpb_single_image wpb_content_element vc_align_left">

									<figure class="wpb_wrapper vc_figure">
										<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1208" height="181" src="https://www.rosond.com/wp-content/uploads/2018/06/timeline-1.png" class="vc_single_image-img attachment-full" alt="" srcset="https://www.rosond.com/wp-content/uploads/2018/06/timeline-1.png 1208w, https://www.rosond.com/wp-content/uploads/2018/06/timeline-1-300x45.png 300w, https://www.rosond.com/wp-content/uploads/2018/06/timeline-1-768x115.png 768w, https://www.rosond.com/wp-content/uploads/2018/06/timeline-1-1024x153.png 1024w" sizes="(max-width: 1208px) 100vw, 1208px" data-dt-location="https://www.rosond.com/home/timeline-2/"></div>
									</figure>
								</div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-6">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element  vc_custom_1537794771260">
													<div class="wpb_wrapper">
														<p>Through the careful identification of its core target market segments, ROSOND has concentrated on those long-term opportunities that provide sustainable growth. With a focused approach to client development, our team provides niche services to clients in mining houses, operating mines, junior mining companies and exploration companies.</p>

													</div>
												</div>
											</div>
										</div>
									</div><div class="wpb_column vc_column_container vc_col-sm-6">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element  vc_custom_1537794786195">
													<div class="wpb_wrapper">
														<p>ROSOND’s vision is to be the first choice for all African mining and exploration companies in need of a superior drilling and grouting partner to help them achieve maximised productivity in their operations.</p>

													</div>
												</div>
												