@model VehicleManangement.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="CountrySelecter"></div>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" title="Edit this item">Edit</i></button></a> |
    <a asp-action="Index"><button type="button" class="btn btn-warning">Back to List</button></a>
</div>
